<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed == true %>
      <li>✅<%= link_to task.title, task_path(task) %></li>
      <% else %>
      <li>❌<%= link_to task.title, task_path(task) %></li>
    <% end %>
      <h3><%=  %></h3>
  <% end %>
</ul>
<button><%= link_to 'Add new task', new_task_path  %>
</button>
